<h1>Showing list details</h1>
<div class="container">
<p> <b>Name:</b> <%= @item.name %></p>
<p> <b>Amount:</b> <%= @item.amount %></p>
<p> <b>Price:</b> <%= @item.price %></p>


<%= link_to 'Edit', edit_item_path(@item), class: "btn btn-outline-info"  %>
<%= link_to 'Delete', item_path(@item), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to 'Return to items list', items_path %>
</div>